{% extends 'biblioteca/base.html' %}
{% load static %}

{% block title %}
Reviews de {{ usuario.nome }}
{% endblock title %}

{% block extra_css %}
<link href="{% static "css/lists.css" %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
<h1>Reviews de {{ usuario.username }}</h1>
<a class="nova-review" href="{% url 'review-create' %}">+ Nova Review</a>

{% if reviews %}
{% for review in reviews %}
<div class="review">
  <div class="id_jogo">{{ review.id_jogo.nome }}</div>
  <div class="nota">Nota: {{ review.nota }}/10</div>
  <div class="descricao">{{ review.descricao }}</div>

  <a href="{% url 'review-edit' review.id_jogo.id %}">Editar</a> |
  <a href="{% url 'review-delete' review.id_jogo.id %}">Excluir</a>
</div>
{% endfor %}
{% else %}
<p>Esse usuário ainda não escreveu nenhuma review.</p>
{% endif %}

{% endblock content %}
